spring.application.name=jpa-persistencia

spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=password

spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.h2.console.enabled=true
spring.jpa.hibernate.ddl-auto=update

server.port=8081

app.dao.impl=jpa

spring.data.mongodb.uri=mongodb+srv://osoapy:osoapy@cluster0.q36z0pc.mongodb.net/demo?retryWrites=true&w=majority&appName=Cluster0

app.mongo.uri=mongodb+srv://osoapy:osoapy@cluster0.q36z0pc.mongodb.net/demo?retryWrites=true&w=majority&appName=Cluster0

app.mongo.database=demo